header{
    display: flex;
    flex-direction: column;
    place-items: center;
}
body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}
.barra{
    display: flex;
    flex-direction: row;
    place-items: center;
}
.app-light{
    background-image: url(../src/assets/img/fondo-light.png);
    min-height: 100vh;
}
.app-dark{
    background-image: url(../src/assets/img/fondo-dark.png);
    min-height: 100vh;
}
.button-app-light{
    color: black;
}
.button-app-dark{
    color: white;
}
.items{
    display: flex;
    flex-direction: row;
    place-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
}
.card-light{
    background-color: white;
    color: black;
}
.card-dark{
    background-color: rgb(78, 77, 77);
    color: white;
}
.button-card-dark{
    color: black;
}
.detail-light{
    background-color: white;
    color: black;
}
.detail-dark{
    background-color: rgb(78, 77, 77);
    color: white;
}
.button-detail-dark{
    color: black;
}
.navBar-light{
    color: black;
}
.navBar-dark{
    color: white;
}
.link-navBar-dark{
    color: white;
}
.cart-light{
    background-color: rgba(255, 255, 255, 0.486);
    color: black;
}
.cart-dark{
    background-color: rgba(78, 77, 77, 0.514);
    color: white;
}
.button-cart-dark{
    color: black;
}
.h-cart-dark, .f-cart-dark{
    background-color: rgba(255, 255, 255, 0.664);
}
.texto{
    background-color: rgba(255, 255, 255, 0.664);
    padding: 20px;
    font-weight: 800;
}
.contenedorCarrito{
    display: flex;
    flex-direction: column;
    place-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
}