header{
    display: flex;
    flex-direction: column;
    place-items: center;
}
body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}
.barra{
    display: flex;
    flex-direction: row;
    place-items: center;
}
.app-light{
    background-image: url(../src/assets/img/fondo-light.png);
    min-height: 100vh;
}
.app-dark{
    background-image: url(../src/assets/img/fondo-dark.png);
    min-height: 100vh;
}
.button-app-light, .navBar-light, .button-detail-dark, .button-card-dark{
    color: black;
}
.button-app-dark, .navBar-dark, .link-navBar-dark{
    color: white;
}
.items{
    display: flex;
    flex-direction: row;
    place-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
}
.card-light, .detail-light{
    background-color: white;
    color: black;
}
.card-dark, .detail-dark{
    background-color: rgb(78, 77, 77);
    color: white;
}
.button-cart-dark{
    color: black;
}
.h-cart-dark, .f-cart-dark{
    background-color: rgba(255, 255, 255, 0.664);
    color: red;
}
.texto{
    background-color: rgba(255, 255, 255, 0.664);
    padding: 20px;
    font-weight: 800;
}
.contenedorCarrito{
    display: flex;
    flex-direction: column;
    place-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
}
.form-light, .cart-light{
    background-color: white;
    color: black;
}
.form-dark, .cart-dark{
    background-color: rgb(78, 77, 77);
    color: white;
    border-color: black;
}